<!DOCTYPE html>

<html>
    <head>
        <title>Task List</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">  
    </head>
    <body>
        <div class="data-form">
            <form class="login_form" action="/users/login" enctype="application/json" method="POST">
                <h2>Login:</h2>
                <label for="inputEmail">Email</label>
                <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required><br><br>
                <label for="inputPassword">Password</label>
                <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required><br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <button id="clickme" class="btn btn-lg btn-primary btn-block" type="button">Click</button>
            </form>
        </div>
        <footer>
            <p></p>
        </footer>
        <script src="/js/login.js"></script>  <!--- moved to end so that this doesn't run until all our elements are available -->
    </body>
</html>         